<div class="movies-container">
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Digite o título"
    />
    <button (click)="searchMovies()">Buscar</button>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <div *ngIf="movies.length > 0" class="movies-list">
    <div *ngFor="let movie of movies" class="movie-card">
      <img [src]="movie.Poster" alt="{{ movie.Title }}" />
      <h3>{{ movie.Title }}</h3>
      <p>{{ movie.Year }}</p>

      <a [routerLink]="['/details', movie.imdbID]">
        <button>Ver Detalhes</button>
      </a>

      <button (click)="toggleFavorite(movie)">
        {{ isFavorite(movie.imdbID) ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos' }}
      </button>
    </div>
  </div>
</div>


